*{
padding:0;
margin:0;

}
body{
    
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
      
      
margin:10px;
}
.nav-bar{
background-color: black;
color:white;
text-align:center;
padding-top:15px;
padding-bottom:15px;

}
.nav-bar__desc{
color:grey;
margin-top:5px;

}
li:hover{
color:white;
}
.receipe{
margin-top:10px;
text-align: center;


}
.receipe__desc{
border:solid black 2px;
width:180px;
padding:2px;
text-align:center;
display:inline-block;


}
.receipe__desc--name{
 margin-top:5px;
 font-size: 14px;
}
.receipe__desc--para{
    margin-top:5px;
    font-size: 13px;
   }
   .receipe__desc--button{
    margin-top:5px;
    background-color: black;
    color:white;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 5px;
    border:none;
    cursor:pointer;
    
   }
   .receipe__desc--button:hover{
   background-color:yellow;
   color:black;
   }
   .contact-form{
text-align:center;
background-color: black;
padding:5px;
margin-top:10px;

   }
   .contact-form__details{
   display:inline-block;
   
   color:white;
   padding:5px;
   }
   .contact-form__send
   {
   margin-top:5px;
   }
   .send{
   width:50%;
   padding:10px;
   text-align: center;
   background-color: yellow;
   border:none;
   cursor:pointer;
   }
   .input{
padding:4px;
   }
   .send:hover{
background-color: red;
color:white;
   }